* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#container {
    position: relative;
    flex-direction: column;
}
#container canvas, #overlay {
    position:absolute;
}
canvas {
    border: 1px solid black;
    background-color: whitesmoke;
    z-index: -1;
}
.edit-container{
    position:relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin: 5px;
    z-index: 1;
}
.brush-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.slider{
    color: green;
    margin: 5px;
}

.checkboxes{
    width: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 7px;
}

.content-box {
    position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 1;
}

.name{
    background-color: white;
    color: black;
    font-size: 5vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

.line{
    background-color: lightgray;
    height: 1px;
    margin: 10px;
    width: 80%;
    
}
